@charset "UTF-8";
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.top {
  font-family: "Roboto";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.top img:first-child {
  margin-right: 4px;
}
.top #privacy {
  color: #5f6368;
  font-size: 22px;
}
.top #menu-icon {
  color: #5a5a5a;
  margin-left: auto;
  font-size: 20px;
}
.top #profile {
  width: 50px;
  padding: 0 10px;
}

nav {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #CBCBCB;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  font-family: "Open Sans";
  padding: 0 15px;
  list-style: none;
  color: #5a5a5a;
  padding-bottom: 5px;
}
nav ul li:last-child {
  color: #3367d6;
  border-bottom: 3px solid #3367d6;
}

/* hr {
   width: 100vw;
   border: 0.5px solid $txt-menu;
  }*/
main {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .container .faq {
  margin-bottom: 30px;
}
main .container .faq h2 {
  font-family: "Open Sans";
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 24px;
}
main .container .faq p {
  color: #000000DE;
  font-family: "Roboto";
  font-size: 14px;
  margin: 20px 0;
}
main .container .faq ol {
  margin-left: 15px;
}
main .container .faq ol li {
  color: #000000DE;
  font-family: "Roboto";
  font-size: 14px;
  padding: 15px 0;
}
main .container .faq ol li #inner {
  padding-top: 5px;
  padding-left: 20px;
  list-style-type: lower-alpha;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  padding: 10px 15px;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .container ul li {
  font-size: 11px;
  font-family: "Roboto";
  color: #3d3d3d;
  list-style: none;
}
footer .container ul li select {
  width: 174px;
}
footer .container #left li:not(:first-child):before {
  content: "·";
  padding: 0 5px;
}
footer .container #right {
  margin-left: auto;
}
footer .container #right li:last-child {
  padding-left: 7px;
}
footer .container #right i {
  font-size: 18px;
}
